.auth {
  margin: auto;
  max-width: 358px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth__title {
  margin-bottom: 50px;
  color: #fff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

.auth__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.auth__input {
  width: 100%;
  margin-bottom: 57px;
  border: 0;
  border-bottom: 2px solid #cccc;
  background-color: #000;
  color: #fff;
}

.auth__input::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.auth__button {
  padding: 0;
  margin-top: 159px;
  width: 100%;
  height: 50px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  transition: 0.5s;
}

.auth__button:hover {
  opacity: 0.85;
}

.auth__block {
  display: flex;
  align-items: baseline;
}

.auth__email {
  margin: 0;
  padding: 0;
  color: #fff;
  margin-right: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.auth__enter {
  margin: 0;
  margin-right: 30px;
  padding: 0;
  color: #fff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  background-color: #000;
  border: 0;
  cursor: pointer;
  transition: .5s;
}

.auth__enter:hover {
  color: #a9a9a9;
}

.auth__link {
  box-sizing: border-box;
  padding-top: 15px;
  margin-right: 20px;
  color: #fff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
}
.auth__link:hover {
  color: #a9a9a9;
}

@media screen and (max-width: 500px) {
.auth__block {
  width: 100%;
  border-bottom: 1px solid #545454;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 27px;
  
}

.auth__email {
  margin: auto;
}

.auth__enter {
  margin: 18px auto 40px;
}
  
}