.profile__title {
  max-width: 300px;
  display: block;
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  text-transform: capitalize;
  color: #fff;
  grid-row: 1;
  grid-column: 1;
  place-self: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  
}


@media screen and (max-width: 510px) {
  .profile__title {
    max-width: 260px;
    font-size: 27px;
    text-align: center;
  }
}