.card__location {
  color: #000;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  text-transform: capitalize;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}