.popup__button-submit_section_confirmation {
  margin: 0 auto;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}