.popup__title_section_confirmation {
  padding: 0 0 38px 0;
  text-align: top;
  font-weight: 900;
  font-style: normal;
  font-size: 24px;
  line-height: 29px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}