.profile__person {
  display: flex;
  align-items: flex-end;
  position: relative;
}

@media screen and (max-width: 712px) {
  .profile__person {
    justify-content: space-between;

  }
}

@media screen and (max-width: 510px) {
  .profile__person {
    flex-direction: column;
    align-items: center;

  }
}