.header {
  box-sizing: border-box;
  max-width: 880px;
  border-bottom: 1px solid #545454;
  padding: 45px 0 40px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 450px) {
  .header {
    flex-direction: column-reverse;
    align-items: center;
    
  }
}

@media screen and (max-width: 435px) {
  .header {
    padding: 0 0 27px;
  }
}
